<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.plus.wcw.mapper.CustomerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.it.plus.wcw.entity.CustomerInfo">
        <id column="id" property="id" />
        <result column="credit_code" property="creditCode" />
        <result column="name" property="name" />
        <result column="business_license" property="businessLicense" />
        <result column="short_name" property="shortName" />
        <result column="address" property="address" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="region" property="region" />
        <result column="legal_person" property="legalPerson" />
        <result column="legal_id_card" property="legalIdCard" />
        <result column="id_card_positive" property="idCardPositive" />
        <result column="id_card_negative" property="idCardNegative" />
        <result column="auditor" property="auditor" />
        <result column="auditor_time" property="auditorTime" />
        <result column="note" property="note" />
        <result column="industry" property="industry" />
        <result column="status" property="status" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="audit_status" property="auditStatus" />
        <result column="p_threshold" property="pThreshold" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="has_photo" property="hasPhoto" />
        <result column="customer_type" property="customerType" />
        <result column="need_manager_fee" property="needManagerFee" />
        <result column="manager_fee" property="managerFee" />
        <result column="bill_server_rate" property="billServerRate" />
        <result column="empty_talent_switch" property="emptyTalentSwitch" />
        <result column="fee_status" property="feeStatus" />
        <result column="daily_pay_type" property="dailyPayType" />
        <result column="manager_limit" property="managerLimit" />
        <result column="recommend_mode" property="recommendMode" />
        <result column="fail_reason" property="failReason" />
        <result column="pay_fee" property="payFee" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, credit_code, name, business_license, short_name, address, province, city, region, legal_person, legal_id_card, id_card_positive, id_card_negative, auditor, auditor_time, note, industry, status, longitude, latitude, audit_status, p_threshold, created_at, created_by, updated_at, updated_by, has_photo, customer_type, need_manager_fee, manager_fee, bill_server_rate, empty_talent_switch, fee_status, daily_pay_type, manager_limit, recommend_mode, fail_reason, pay_fee
    </sql>

</mapper>
