<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.plus.wcw.mapper.ManagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.it.plus.wcw.entity.Manager">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="customer_id" property="customerId" />
        <result column="mobile" property="mobile" />
        <result column="name" property="name" />
        <result column="name_alias" property="nameAlias" />
        <result column="status" property="status" />
        <result column="id_card" property="idCard" />
        <result column="address" property="address" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="auth_pass_time" property="authPassTime" />
        <result column="sex" property="sex" />
        <result column="has_company" property="hasCompany" />
        <result column="free_day_expire_time" property="freeDayExpireTime" />
        <result column="refuse_reason" property="refuseReason" />
        <result column="fee_status" property="feeStatus" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

</mapper>
